# In the following are enumerated the properties to be set, with (admissible values) and [default value]
#
# *** MODEL CONFIGURATION *** 
# type (linear,neural) [neural]
# transitionNet
#              .nLayers (1,2) [2]
#              .outActivationType (linear,tanh) [tanh]
#              .nHiddens ((1,inf)) [5]
#              .weightRange ((e-10,1)) [0.01]
# forcingNet <only if type==linear> <the same as transitionNet except that default outActivationType is linear>
# outNet     <the same as transitionNet except that default outActivationType is linear>
# useJacobianControl ({0,1}) [1] <only if type==neural>
# jacobianThreshold ([0,1)) [0.85] <only if type==neural>
# jacobianFactorCoeff ((0,10000]) [1000] <only if type==neural>
# useSaturationControl ({0,1}) [1] <only if type==neural>
# saturationThreshold ([0,1-1e-9]) [0.99] 
# saturationCoeff ((0,100]) [0.001] 
# useLabelledEdges ({0,1}) [0]
# errorFunction  ({mse,quadratic,outmult,ranking,autoassociator}) [mse]
#
# *** LEARNING PARAMETERS *** 
# learningSteps ((1,inf)) [500]
# maxForwardSteps ((1,inf)) [10]
# maxBackwardSteps ((1,inf)) [10]
# forwardStopCoefficient ((1e-15,1e-2)) [1e-8]
# backwardStopCoefficient ((1e-15,1e-2)) [1e-8]
# stepsForValidation ((1,50)), [20]
# maxStepsForValidation ((1,50)) [10]
# stopCoefficientForValidation ((1e-15,1e-2)) [1e-5]
# deltaMax ((50,200)) [100]
# deltaMin ((1e-10,1e-2)) [1e-7]
# etaP ((1.1,1.5)) [1.2]
# etaM ((0.2,0.9)) [0.5]
# useValidationMistakenPatterns=({0,1}) [0] optimal parameter update accounts for #errors in the validation set
#
# *** GLOBAL PARAMETERS ***
# useLogFile=({0,1}) [1]
# useAutoSave=({0,1}) [1]
# autoSaveEveryTotValidations=(1,inf) [5]
#
#
**** MODEL PARAMETERS START ****
type=neural
nStates=2
transitionNet.nLayers=2
transitionNet.outActivationType=linear
transitionNet.nHiddens=5
transitionNet.weightRange=0.01
#forcingNet.nLayers=2
#forcingNet.outActivationType=tanh
#forcingNet.nHiddens=2
#forcingNet.weightRange=0.01
outNet.nLayers=2
outNet.outActivationType=tanh
outNet.nHiddens=5
outNet.weightRange=0.01
useJacobianControl=1
jacobianThreshold=0.85
jacobianCoeff=1000
useSaturationControl=1
saturationThreshold=0.99
saturationCoeff=0.001
useLabelledEdges=1
errorFunction=mse
useLabelledEdges=0
**** MODEL PARAMETERS END ****
**** LEARNING PARAMETERS START ****
learningSteps=2000
maxForwardSteps=50
maxBackwardSteps=50
forwardStopCoefficient=1e-3
backwardStopCoefficient=1e-3
stepsForValidation=10
maxStepsForValidation=30
deltaMax=50
deltaMin=1e-6
etaP=1.2
etaM=0.5
useValidation=1
useValidationMistakenPatterns=0
saveErrorHistory=1
saveJacobianHistory=1
saveSaturationHistory=1
saveStabilityCoefficientHistory=1
saveIterationHistory=1
saveStateHistory=0
**** LEARNING PARAMETERS END ****
**** GENERAL PARAMETERS START ****
useLogFile=0
useAutoSave=0
useBalancedDataset=0
**** GENERAL PARAMETERS END ****
